<template>
  <section>
    <breadcrumb />
    <h1 class="text-center">List Dog</h1>
    <b-form-input v-model="search" placeholder="Search Dog"></b-form-input>
    <h4 v-if="loading" class="text-center mt-5">loading...</h4>
    <div class="row mx-auto" v-else>
      <div
        v-for="(item, index) in fillteredListDog"
        :key="index"
        class="col-12 col-md-6 col-lg-4 col-xl-3 my-4"
      >
        <card-dog :dogName="item" class="mx-auto" img-top />
      </div>
    </div>
  </section>
</template>

<script setup>

const dogStore = useDogStore()

await useAsyncData(
  () => dogStore.getListDog()
)

const search = ref('')
const loading = ref(false)

const fillteredListDog = computed(() => {
    return dogStore.mainBreeds.filter((dog) => dog.toLowerCase().includes(search.value.toLowerCase()))
})

watch(search, () => {
  loading.value = true
  setTimeout(() => {
    loading.value = false
  }, 1500);
})
</script>
