<template>
  <detail-dog :photos="dogStore.subDogPhotos" :dog-name="subDogName" />
</template>

<script setup>
const dogStore = useDogStore()
const route = useRoute()
const mainDogName = ref(route.params.dogname)
const subDogName = ref(route.params.subdogname)


await useAsyncData(
    () => dogStore.getSubDogPhotos(mainDogName.value,subDogName.value)
)
</script>
