<template>
  <detail-dog
    :photos="dogStore.mainDogPhotos"
    :dog-name="dogName"
    :sub-breed="dogStore.subBreedList"
  />
</template>

<script setup>
const dogStore = useDogStore()
const route = useRoute()
const dogName = ref(route.params.dogname)

await useAsyncData(
    () => {
      dogStore.getMainDogPhotos(dogName.value)
      dogStore.getSubBreedList(dogName.value)
    }
)
</script>
