<template>
  <b-breadcrumb>
    <b-breadcrumb-item v-for="(index) in pathLength" :key="index">
      <NuxtLink :to="paths[index-1].path"
        ><span class="text-capitalize">{{paths[index-1].name}}</span></NuxtLink
      >
    </b-breadcrumb-item>
  </b-breadcrumb>
</template>

<script setup>

const route = useRoute()

const pathLength = ref(route.path.split('/').length)

const paths = ref([
  {
    name: 'home',
    path: '/'
  },
  {
    name: 'dog',
    path: '/dog'
  },
  {
    name: route.params.dogname,
    path: `/dog/${route.params.dogname}`
  },
  {
    name: route.params.subdogname,
    path: `/dog/${route.params.dogname}/${route.params.subdogname}`
  }
])
</script>
