<template>
  <b-card class="mb-3">
    <div class="d-flex flex-row justify-content-between flex-wrap">
      <h4>{{dogName}}</h4>
      <b-button variant="success" @click="$emit('toDetail')"
        >See Detail</b-button
      >
    </div>
  </b-card>
</template>

<script setup>
const props = defineProps({
  dogName: {
    type: String,
    default: null
  },
  
})
</script>

<style></style>
