<template>
  <b-card
    :title="dogName"
    :img-src="dogImage.message"
    img-alt="Image"
    :img-top="imgTop"
    :img-left="imgLeft"
    tag="article"
    style="max-width: 20rem; height: 30em;"
    class="mb-2"
  >
    <div class="d-flex flex-column gap-2">
      <b-button
        variant="primary"
        @click="show = !show"
        v-if="dogStore.listAllDog[dogName]?.length>0"
        >See Sub Breeds</b-button
      >
      <b-button variant="success" @click="moveToDetail(dogName)"
        >See Detail</b-button
      >
    </div>

    <!-- modal element -->
    <b-modal v-model="show" ok-only>
      <h2 class="text-center">List Sub Breed of {{ dogName }}</h2>
      <card-sub-dog
        v-for="(subDog, index) in dogStore.listAllDog[dogName]"
        :key="index"
        @to-detail="moveToDetail(dogName,subDog)"
        :dog-name="subDog"
      />
    </b-modal>
  </b-card>
</template>

<script setup>
const props = defineProps({
  dogName: {
    type: String,
    default: null
  },
  imgTop: {
    type: Boolean,
    default: false
  },
  imgLeft: {
    type: Boolean,
    default: false
  }
})

// state for conditon modal
const show = ref(false)

// call dog store
const dogStore = useDogStore()

// fetch image based from dog name
const { data: dogImage } = await useFetch(`https://dog.ceo/api/breed/${props.dogName}/images/random`);

const router = useRouter()

function moveToDetail(mainDog,subDog) {
  if (subDog) router.push(`/dog/${mainDog}/${subDog}`)

  else router.push(`/dog/${mainDog}`)

}
</script>

<style>
.card-img-top {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
</style>
