<template>
  <b-carousel
    ref="myCarousel"
    :interval="2500"
    controls
    indicators
    ride="carousel"
  >
    <b-carousel-slide
      v-for="(photo, index) in photos"
      :key="index"
      :img-src="photo"
      img-height="480px" 
    />
  </b-carousel>
</template>

<script setup>
const props = defineProps({
    photos: {
        type: Array,
        default: []
    }
})
</script>