<template>
  <section>
    <breadcrumb />

    <div class="d-flex align-items-center gap-3">
      <b-img
        v-bind="circleIconProp"
        rounded="circle"
        alt="Circle image"
        :src="photos?.[0]"
      ></b-img>
      <h1 class="text-capitalize">{{dogName}}</h1>
    </div>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum. Sed ut perspiciatis unde omnis iste natus error sit
      voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
      ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
      dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
      aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
      ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
      ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
      numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
      quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
      ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
      consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate
      velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
      fugiat quo voluptas nulla pariatur?
    </p>

    <div>
      <!-- show when shiba dog -->

      <div v-if="dogName === 'shiba'">
        <Carousel :photos="photos.slice(1)" />
      </div>

      <!-- show dog photo -->
      <div class="row mx-auto" v-else>
        <b-img
          v-for="(photo, index) in photos.slice(1)"
          :key="index"
          class="col-12 col-md-6 col-lg-4 col-xl-4 my-4 dog-photo"
          :src="photo"
          alt="dog photos"
        ></b-img>
      </div>

    <!-- list sub  breed -->
      <div class="row mx-auto my-3" v-if="subBreed?.length > 0">
        <h2 class="text-center mb-3">List Sub Breed of {{ dogName }}</h2>

        <card-sub-dog
          v-for="(subDog, index) in subBreed"
          :key="index"
          class="col-5 mx-auto"
          @to-detail="moveToDetail(dogName,subDog)"
          :dog-name="subDog"
        />
      </div>
    </div>
  </section>
</template>

<script setup>
const props = defineProps({
  photos: {
    type: Array,
    default: []
  },
  dogName: {
    type: String,
    default: ''
  },
  subBreed: {
    type: Array,
    default: []
  }
})

const circleIconProp = { width: 75, height: 75, class: 'm1' }

const router = useRouter()

function moveToDetail(mainDog,subDog) {
  if (subDog) router.push(`/dog/${mainDog}/${subDog}`)
  else router.push(`/dog/${mainDog}`)
}
</script>

<style scoped>
p {
    text-align: justify;
    text-indent: 20px;
    font-size: larger;
    font-weight: 300;
    line-height: 2;
}

.dog-photo {
    /* object-fit: cover; */
    height: 28rem;
}
</style>
