<template>
  <footer class="bg-primary text-white sticky-top py-2">
    <b-container fluid="sm">
      <p class="text-center mb-0">- Dery Nugroho Marjuki -</p>
    </b-container>
  </footer>
</template>
