<template>
  <div class="bg-primary text-white sticky-top">
    <b-container fluid="sm">
      <b-navbar toggleable="xl" type="light" variant="primary">
        <b-navbar-toggle target="nav-text-collapse"></b-navbar-toggle>

        <NuxtLink to="/">
          <b-navbar-brand class="text-white">Dog Catalog</b-navbar-brand>
        </NuxtLink>

        <b-collapse id="nav-text-collapse" is-nav class="gap-3">
          <b-navbar-nav>
            <NuxtLink to="/dog">
              <b-nav-text class="text-white">Dog list</b-nav-text>
            </NuxtLink>
          </b-navbar-nav>
          <b-navbar-nav>
            <NuxtLink to="https://gitlab.com/derynm/dog-shop-catalog" target="_blank">
              <b-nav-text class="text-white">Git Repository</b-nav-text>
            </NuxtLink>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </b-container>
  </div>
</template>
