<template>
  <div class="d-flex flex-column page-container">
    <navbar />
    <b-container fluid="sm" class="flex-grow-1">
      <div class="pt-4">
        <slot />
      </div>
    </b-container>
    <Footer />
  </div>
</template>

<style>
.page-container {
  min-height: 100vh;
  height: 100%;
}
</style>