<template>
  <section class="mb-5">
    <div class="hero d-flex flex-column justify-center">
      <h1 class="text-light my-auto">Dog Shop Catalog</h1>
    </div>

    <section class="row why-section section-home">
      <div class="col-sm-12 col-md-6 my-auto">
        <h3>Why ?</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsum
          illo veritatis nesciunt, rem voluptatem quam tempore architecto
          explicabo expedita! Iure nesciunt labore adipisci earum quos, eos
          minima pariatur facilis?
        </p>
      </div>
      <img
        class="col-sm-12 col-md-6"
        src="/image/taylor-kopel.webp"
        alt="dog-image"
      />
    </section>

    <section
      class="row where-section section-home flex-column-reverse flex-md-row"
    >
      <img
        class="col-sm-12 col-md-6 "
        src="/image/toshi.webp"
        alt="dog-image"
      />
      <div class="col-sm-12 col-md-6 my-auto">
        <h3>Where ?</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsum
          illo veritatis nesciunt, rem voluptatem quam tempore architecto
          explicabo expedita! Iure nesciunt labore adipisci earum quos, eos
          minima pariatur facilis?
        </p>
      </div>
    </section>

    <section class="invitation-section d-flex flex-column justify-center">
      <div class="my-auto mx-3">
        <h3 class="text-white">Let's see our catalog</h3>
        <nuxt-link to="/dog">
          <b-button variant="primary">Go to list</b-button>
        </nuxt-link>
      </div>
    </section>
  </section>
</template>

<script setup>

const dogStore = useDogStore()

await useAsyncData(
  () => dogStore.getImageHome()
)
</script>

<style scoped>
.hero {
  width: 100%;
  height: 400px;
  background-image: url('/image/pauline-loroy.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -80px;
}

.section-home{
  text-align: justify;
  font-size: larger;
  margin-top: 4rem;
}
.why-section img{
  height: 380px;
  object-fit: cover;
  object-position: 0px -20px;
}

.where-section img{
  height: 420px;
  object-fit: cover;
  object-position: 0px -260px;
}

.invitation-section {
  height: 400px;
  width: 100%;
  margin-top: 4rem;
  background-image: url('/image/gabriel-crismariu.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -80px;

}
</style>
